body {
  background-color: black;
  background-image: url("https://static.wikia.nocookie.net/sims/images/9/98/Bess_Sterling.png/revision/latest/scale-to-width-down/340?cb=20200607100759");
}
div {
  background-color: black;
  margin-left: 100px;
}

p.ex1 {
  margin-left: inherit;
}
}
