body {
  background-color: black;
  background-image: url("https://preview.redd.it/dkzofrn6db851.png?auto=webp&s=d19ae8ad610fb659af4b7eecdd315fe13b882635");
}
div {
  background-color: black;
  margin-left: 100px;
}

p.ex1 {
  margin-left: inherit;
}
}
