body {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.reddit.com%2Fr%2FSims4%2Fcomments%2Fhjjj7q%2Fdid_you_know_bess_sterling_gives_you_25k_if_you%2F&psig=AOvVaw0aZseXpKMDfcWFD4yTwMbg&ust=1612544359099000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIi92P_Z0O4CFQAAAAAdAAAAABAD");
}
div {
  background-color: black;
  margin-left: 100px;
}

p.ex1 {
  margin-left: inherit;
}
}
